.cs-banner{
  background-color: #00cc00;
  margin-top: 20px;
}

.cs-header-title{
  margin-left: 20px;
}

.cs-banner-image{
  margin-left: 40px;
  margin-top: 5px
}

.cs-banner-title{
  color: yellow;
  font-family: "Trebuchet MS";
  font-size: xx-large;
}

.cs-mission-statement{
  color:crimson;
  font-family: "Comic Sans MS";
}
